{% load static %}
<!--Authorship Muhammad Yasin Yahya W1974891-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Response Outcome</title>
    <link rel="stylesheet" href="{% static  'css/style.css' %}">

</head>

<body>
    <h2 style="text-align: center;"><b> Thank you for your response!</b></h1>
        <!-- Sends the user back to the last page they were on -->
        <!--https://www.flaticon.com/free-icon/back-button_93634?term=back+arrow&page=1&position=3&origin=tag&related_id=93634-->
        <button onclick="history.back()">
            <img src="{% static 'images/back.png' %}" class="returnButton hovering" alt="back button" height="60px"
                width="60px">
        </button>
</body>

</html>